# Environment files
.env
.env.local

# MacOS system files
.DS_Store

# Microsoft lock files
**/~$*

# PDF files
**/*.pdf

# Word documents
**/*.docx

# Database backups
/backups

# Caddy data
/caddy_data
/caddy_config
